{
  "printWidth": 140,
  "singleQuote": true,
  "trailingComma": "es5",
  "tabWidth": 4,
  "bracketSpacing": true,
  "endOfLine": "lf",
  "overrides": [
    {
      "files": "*.json",
      "options": {
        "singleQuote": false
      }
    },
    {
      "files": "*.rc",
      "options": {
        "singleQuote": false
      }
    }
  ]
}